* {
  margin: 0;
  padding: 0;
}

a:hover,
a:link,
a:visited {
  color: rgb(45, 9, 172);
  text-decoration: underline;
}
.logoCodef {
  margin-top: 1rem;
  width: 77%;
  height: fit-content;
  margin-left: 18rem;
}
.codeforceslogo {
  width: 30%;
  height: 70px;
}
.countrylogo {
  margin-left: 4rem;
  float: left;
  width: 60%;
  text-shadow: 2px 1px 4px black;
  height: 40px;
  padding-left: 2rem;
}
.text_logo {
  float: right;

  width: 13%;
  height: 70px;
}
.textRegister {
  float: right;
  width: 80%;
  height: 35px;
  padding-right: 0rem;
  margin-left: -2rem;
  font-size: 1.6rem;
  margin-right: 1.1rem;
}
.menubar {
  border: 2px solid rgb(112, 106, 106);
  border-radius: 0.5rem;
  width: 77%;
  height: 50px;
  padding-top: 1.4rem;
  margin-left: 18rem;
}
.menubaritems li {
  list-style: none;
  float: left;
  margin-right: 0.4rem;
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: 500;
  transform: scale(0.6, 1);
  cursor: pointer;
}
.search {
  float: right;
  background-image: url("/images/lens.jpg");
  background-size: 15% 100%;
  background-repeat: no-repeat;
  margin-right: 2rem;
  padding-left: 2.3rem;
  width: 08%;
  height: 25px;
  margin-top: -1.5rem;
}
.menubar2 {
  border-radius: 0.5rem;
  width: 77%;
  height: 50px;
  padding-top: 1.4rem;
  margin-left: 18rem;
}
.menubaritems2 li {
  margin-top: 1rem;
  list-style: none;
  float: left;
  margin-right: 0.1rem;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  transform: scale(0.7, 1);
  letter-spacing: -0.1px;
}
.menubaritems2 li:hover {
  background-color: rgb(182, 197, 193);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.mainbody {
  width: 77%;
  height: 2300px;
  padding-top: 1.4rem;
  margin-left: 18rem;
  /* display: inline-flex; */
}
.tourist {
  width: 73%;
  height: 340px;
  border: 1px solid rgb(177, 172, 172);
}
.touristratings {
  margin-left: 1rem;
}
.boy {
  /* border: 2px solid rgb(209, 199, 199); */
  width: 35%;
  height: 310px;
  margin: -30.7rem 0 0 53.5rem;
  background-color: rgb(215, 230, 241);
}
.touristlist li {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.touristratings {
  width: fit-content;
  height: fit-content;
}
.clear {
  clear: both;
}
.payAttention {
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 180px;
  margin-top: -34.3rem;
}

.payattentiontext {
  width: fit-content;
  height: fit-content;
  margin-left: 2.2rem;
  padding: 0 0.5rem 0 0.45rem;
  transform: scale(1.2, 0.8);
  border: 1px solid rgb(177, 172, 172);

  text-align: center;
  margin-top: -1rem;
}
.likeimg {
  margin: 0.15rem 0 0 0.4rem;
  width: 20%;
  height: 20px;
  border: 2px solid rgb(12, 11, 11);
}
.streams {
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 130px;
  margin-top: -15rem;
}
.streamtext {
  width: fit-content;
  margin-left: 2.2rem;
  padding: 0 3.5rem 0 4rem;
  transform: scale(1.2, 0.8);
  border: 1px solid rgb(177, 172, 172);
  height: fit-content;
  text-align: center;
  margin-top: -1rem;
}
.graph {
  margin-top: 1.5rem;
  float: float;
  width: 73%;
  height: 320px;
  border: 1px solid rgb(177, 172, 172);
}
.onlyratedbtn {
  float: right;
  margin: 1rem 1rem 0 0;
  
}
.graphy {
  margin: 6rem 0 0 1rem;
  width: 5%;
}
.graphy li {
  font-size: 1.5rem;
  list-style: none;
}
.graphimg {
  height: 80%;
  margin: -24rem 0 0 5rem;
}
.graphx {
  height: 30px;
  width: 93%;
  margin-left: 7rem;
  font-size: 1.5rem;
  /* margin-top: -10px; */
}
.graphx li {
  list-style: none;
  float: left;
  margin-right: 2rem;
  margin-left: 1.75rem;
}
.publicActivityGraph {
  margin-top: 1.5rem;
  float: float;
  width: 73%;
  height: 330px;
  border: 1px solid rgb(177, 172, 172);
}
.smalltext {
  width: fit-content;
  height: fit-content;
  margin: 1rem 0 0 11rem;
  font-size: 1.3rem;
  width: 70%;
}
.months {
  margin: 1rem 0 0 11rem;
  font-size: 1.2rem;
  height: 20px;
  width: 75%;
}
.days {
  /* border: 1px solid black; */
  width: 3%;
  margin: 2rem 0 0 8rem;
  font-size: 1.2rem;
}
.listmonths li {
  list-style: none;
  float: left;
  margin-right: 3.6rem;
}
.listdays li {
  list-style: none;
  margin-bottom: 2rem;
}
.boxchart {
  /* border: 2px solid blue; */
  width: 80%;
  height: 260px;
  margin: -14rem 0 0 12.3rem;
}
.row {
  width: 100%;
  height: 100%;
}

.topRated {
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 330px;
  margin-top: -66rem;
}

.table1 {
  border: 1px solid rgb(177, 172, 172);
  text-align: center;
  font-size: 1.5rem;
  height: fit-content;
}
.topContribuors {
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 330px;
  margin-top: -31.5rem;
}
.findUser {
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 110px;
}
.handle {
  margin-top: 1rem;
  border-top: 1px solid rgb(177, 172, 172);
  padding-top: 0.6rem;
  font-size: 1.5rem;
  padding-left: 4rem;
}
.recentActions {
  margin-top: 13rem;
  margin-right: -29.3rem;
  float: right;
  width: 25%;
  border: 1px solid rgb(177, 172, 172);
  height: 1000px;
}
.recentactionli li {
  list-style: none;
  margin-bottom: 0.65rem;
  margin-left: 0.7rem;
  font-size: 1.3rem;
  text-decoration: underline;
  color: rgba(31, 7, 168, 0.842);
}
.footer {
  border-top: 1px solid rgb(177, 172, 172);
  width: 77%;
  height: 280px;
  padding-top: 1.4rem;
  margin-left: 18rem;
}
.footertext {
  margin-left: 40rem;
  width: 33%;
  height: fit-content;
  font-size: 1.6rem;
}
.footerlogo {
  margin: 0 0 0 42rem;
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: center;
}
